<h1>Edit <span class="ui blue text"><%= @account.username %></span> details</h1>

<%= render 'form' %>
<br />
<%= link_to 'Delete', @account, class: "ui red button", method: :delete, data: { confirm: 'Are you sure?' } %>