<% unless @account.is_updated? %>
  <% @account.get_usage %>
<% end %>
<% data = parse_table_data(@account.json_data) %>

<div class="ui grid">
  <div class="row">
    <div class="eight wide column">
      <h1><%= @account.username %></h1>
    </div>
    <div class="eight wide column">
      <div style="float:right">
        <%= link_to "Edit", edit_account_path(@account), class: "ui blue button" %>
      </div>
    </div>
  </div>
</div>
<div class="ui divider"></div>
<h4>Usage chart</h4>

<%= line_chart(data) %>

